
.clr{
    clear: both;
}
.dodo{
    float: left;
    width: 33.3%;
    margin: 10px0px;
    padding: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 66%;
    border: 1px solid black;
    padding: 15px;
    box-sizing: border-box;
    border-right-width: 0;
}
#sidebar{
    float: left;
    width: 34%;
    border: 1px solid black;
    background: rgb(225, 7, 7);
    color: aquamarine;
    padding: 15px 15px 39px 15px;
    box-sizing: border-box;
}
#sidebar:hover{
    color: red;
    background-color: white;
    transition: 650ms;
}

.gojo{
border: 2px solid red;
border-style: dotted;
margin-top: 10px;
width: 50%;

}
.gojo:hover{
    background-color: blueviolet;
    color: aliceblue;
    transition: 1000ms;
    
}
.gojo p{
    font-size: 20px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
